[Unit]
Description=dyfilm_server_v2.0
Documentation=https://github.com/szkotgh/dyfilm_server_v2.0
After=network.target

[Service]
Type=simple
User=user
Group=user
WorkingDirectory=/home/user/dyfilm_server_v2.0
ExecStart=/bin/bash /home/user/dyfilm_server_v2.0/stater.sh
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target