{% extends "admin/base.html" %}

{% block head %}
    <style>
        .table-content {
            margin: 1rem 6% 1rem 6%;
        }
    </style>
{% endblock head %}

{% block body %}
    <h4><a href="/admin">홈</a> | Capture 관리</h4>
    <p>값을 클릭해 수정하세요.</p>
    <div class="table-content">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>
                        {% set modal_id = 'c_id' %}
                        {% set display_text = 'c_id' %}
                        {% set title = '캡쳐 아이디' %}
                        {% set message = '캡쳐마다 부여되는 고유한 ID입니다. 캡쳐는 삭제할 수 없습니다.' %}
                        {% include 'components/modals/view_message_modal.html' %}
                    </th>
                    <th>
                        {% set modal_id = 'd_id' %}
                        {% set display_text = 'd_id' %}
                        {% set title = '장치 아이디' %}
                        {% set message = '이 캡쳐를 등록한 장치의 아이디입니다. 관리자 페이지에서 수동 추가 시 NULL로 기록됩니다. 이 값은 수정할 수 없습니다.' %}
                        {% include 'components/modals/view_message_modal.html' %}
                    </th>
                    <th>
                        {% set modal_id = 'status' %}
                        {% set display_text = 'status' %}
                        {% set title = '캡쳐 상태' %}
                        {% set message = '캡쳐 공개 여부를 설정하는 항목입니다. 활성화하면 사진이 모든 장치와 사용자에게 보여지고, 비활성화하면 관리자만 볼 수 있습니다. 클릭해 토글 설정할 수 있습니다.' %}
                        {% include 'components/modals/view_message_modal.html' %}
                    </th>
                    <th>
                        {% set modal_id = 'file_name' %}
                        {% set display_text = 'file_name' %}
                        {% set title = '캡쳐 이미지' %}
                        {% set message = '서버에 저장되어있는 캡쳐 이미지의 실제 파일 이름입니다. 클릭하면 사진 열람과 사진 변경이 가능합니다.' %}
                        {% include 'components/modals/view_message_modal.html' %}
                    </th>
                    <th>
                        {% set modal_id = 'desc' %}
                        {% set display_text = 'desc' %}
                        {% set title = '캡쳐 설명' %}
                        {% set message = '캡쳐의 비고란입니다. 클릭해 기록·수정할 수 있습니다.' %}
                        {% include 'components/modals/view_message_modal.html' %}
                    </th>
                    <th>
                        {% set modal_id = 'create' %}
                        {% set display_text = 'create' %}
                        {% set title = '캡쳐 생성 날짜' %}
                        {% set message = '캡쳐 항목이 생성된 날짜입니다. 이 값은 변경할 수 없습니다.' %}
                        {% include 'components/modals/view_message_modal.html' %}
                    </th>
                </tr>
            </thead>
            <tbody class="table-group-divider">
                {% for capture in captures %}
                    <tr>
                        <td>
                            {% set modal_id = 'c_id' ~ capture.0|escape %}
                            {% set display_text = capture.0|escape %}
                            {% set title = '캡쳐 삭제' %}
                            {% set message = '캡쳐' ~ capture.0|escape ~ '을 삭제하시겠습니까? 되돌릴 수 없습니다.' %}
                            {% set action = url_for('router.admin.config.capture.remove') %}
                            {% set hidden_name = 'c_id' %}
                            {% set hidden_value = capture.0|escape %}
                            {% include 'components/modals/dialog_yesnoparam_modal.html' %}
                        </td>
                        <td>
                            {% set modal_id = 'd_id' ~ capture.0|escape %}
                            {% set display_text = capture.1|escape %}
                            {% set title = '장치 아이디' %}
                            {% set message = '이 값은 변경할 수 없습니다.' %}
                            {% include 'components/modals/view_message_modal.html' %}
                        </td>
                        <td>
                            {% set modal_id = 'status' ~ capture.0|escape %}
                            {% set display_text = '활성화' if capture.2 else '비활성화' %}
                            {% set title = '캡쳐 상태 변경' %}
                            {% set message = '캡쳐' ~ capture.0|escape ~ '의 상태를 변경하시겠습니까?' %}
                            {% set action = url_for('router.admin.config.capture.config_status') %}
                            {% set hidden_name = 'c_id' %}
                            {% set hidden_value = capture.0|escape %}
                            {% include 'components/modals/dialog_yesnoparam_modal.html' %}
                        </td>
                        <td>
                            {% set modal_id = 'file_name' ~ capture.0|escape %}
                            {% set display_text = capture.3|escape %}
                            {% set title = '캡쳐 이미지' %}
                            {% set message = '이 이미지는 변경할 수 없습니다.' %}
                            {% set image_url = url_for('router.view.view_capture.send_capture', c_id=capture.0) %}
                            {% set image_fallback_url = url_for('static', filename='images/loading.gif') %}
                            {% include 'components/modals/view_image_modal.html' %}
                        </td>
                        <td>
                            {% set modal_id = 'desc' ~ capture.0|escape %}
                            {% set display_text = capture.4|escape %}
                            {% set title = '캡쳐 설명 수정' %}
                            {% set label = '캡쳐' ~ capture.0|escape ~ '의 설명을 수정하시겠습니까?' %}
                            {% set action = url_for('router.admin.config.capture.config_desc') %}
                            {% set hidden_name = 'c_id' %}
                            {% set hidden_value = capture.0|escape %}
                            {% set input_id = 'descInput' ~ capture.0|escape %}
                            {% set input_name = 'config_desc' %}
                            {% set input_value = capture.4|escape %}
                            {% include 'components/modals/config_text_modal.html' %}
                        </td>
                        <td>
                            {% set modal_id = 'create' ~ capture.0|escape %}
                            {% set display_text = capture.5|escape %}
                            {% set title = '캡쳐 생성 날짜' %}
                            {% set message = '이 값은 수정할 수 없습니다.' %}
                            {% include 'components/modals/view_message_modal.html' %}
                        </td>
                    </tr>
                {% endfor %}

                {% if captures|length == 0 %}
                <tr>
                    <td colspan="6" style="text-align: center;">
                        등록된 Capture가 없습니다.
                    </td>
                </tr>
                {% endif %}

                <tr>
                    <td colspan="6" style="text-align: center;">
                        <a href="/admin/config/capture/create">Capture 수동 추가</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock body %}
