<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>덕 영 필 름 .</title>
        <link rel="shortcut icon" href="/favicon.ico">
        
        <style>
            @font-face {
                font-family: 'AppleSDGothicNeoB';
                src: url('/static/fonts/AppleSDGothicNeoB.ttf') format('truetype');
            }

            * {
                font-family: 'AppleSDGothicNeoB', sans-serif;
            }
        </style>

        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>